{{ define "autorisation" }}
{{ template "header" }}
<main role="main" class="inner cover">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg-gradient bg-opacity-75"
         style="width: 96%; height: auto; border-radius: 21px 21px 21px 21px;">
        <div class="form-text" align="center">
            Для создания, редактирования и удаления постов вам нужно войти в аккаунт!
        </div>
        <br>
        <h3 class="cover-handing">Авторизация </h3>
        <form action="/check_login" method="post">
            <input type="email" name="login" id="login" placeholder="Введите ваш email"
                   class="form-control"><br>
            <textarea name="password" id="password" class="form-control"
                      placeholder="Введите ваш пароль"></textarea><br>
            <button class="btn btn-warning">Войти</button>
        </form>
    </div>
</main>
{{ template "footer" }}
{{ end }}