{{ define "create" }}
{{ template "header" }}
<main role="main" class="inner cover">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3
    text-center bg-light bg-gradient bg-opacity-75"
         style="width: 96%; height: auto; border-radius: 21px 21px 21px 21px;">
        <h1 class="cover-handing">Создание статьи</h1>
        <form action="/save_article" method="post">
            <input type="text" name="title" id="title" placeholder="Введите название статьи"
                   class="form-control"><br>
            <textarea name="anons" id="anons" class="form-control"
                      placeholder="Напишите анонс к статье"></textarea><br>
            <textarea name="full_text" id="full_text" class="form-control"
                      placeholder="Напишите сюда статью"></textarea><br>
            <button class="btn btn-warning">Создать</button>
        </form>
    </div>
</main>
{{ template "footer" }}
{{ end }}