{{ define "login" }}
{{ template "header" }}
<main role="main" class="inner cover">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg-gradient bg-opacity-75"
         style="width: 96%; height: auto; border-radius: 21px 21px 21px 21px;">
        <h3 class="cover-handing">Регистрация нового пользователя</h3>
        <form action="/add_user" method="post">
            <input type="email" name="login" id="login" placeholder="Введите адрес почты"
                   class="form-control">
            <div  class="form-text" align="left">
                 Email не должен быть короче 4-х символов
            </div><br>
            <input type="password" name="password" id="password" placeholder="Придумайте пароль"
                   class="form-control">
            <div class="form-text" align="left">
                 Пароль не должен быть короче 4-х символов
            </div><br>
            <button class="btn btn-warning">Создать учетную запись</button>
        </form>
    </div>
</main>
{{ template "footer" }}
{{ end }}