{{ define "show" }}
{{ template "header" }}
<main role="main" class="inner cover" xmlns="http://www.w3.org/1999/html">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg-gradient bg-opacity-75"
         style="width: 96%; height: auto; border-radius: 21px 21px 21px 21px;">
        <h1 class="cover-heading">{{ .Title}}</h1>
        <p class="lead">{{ .FullText}}</p>
        <p class="lead">
            <a href="/" class="shadow btn btn-outline-secondary">Назад</a>
            <a class ="shadow btn btn-outline-warning"  href="/edit/post/{{.Id}}?token=">Редактировать</a>
            <a class ="shadow btn btn-outline-danger"  href="/delete/post/{{.Id}}">Удалить</a>
        </p>
    </div>
</main>
{{ template "footer" }}
{{ end }}
